.container, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.navbar {
    display: flex;
    background-color: #2a18a1;
    flex-direction: row;
    color: white;
    height: 6vh;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.profile {
    width: 15%;
    justify-content: space-between;
    display: flex;
}

.inner {
    display: flex;
    flex-direction: row;
}

.leftbar {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color:#cfced9;
    position: fixed;
    top: 6vh;
    height: 94vh;
}

.main {
    display: flex;
    width: 80%;
    position: relative;
    top: 6vh;
    left: 22%;
    flex-direction: column;
    padding: 20px;
}

.newList {
    width: 100%;
    margin: 10px 0;
    display: flex;
}

#newListInput {
    margin: 0;
    border: 0;
    width: 100%;
    height: 3vh;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

#makeList {
    margin: 0;
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color: #2a18a1;
    color: white;
    width: 4vh;
    height: 3vh;
}

#lists {
    display: flex;
    flex-direction: column;
}

.toplist {
    display: flex;
    flex-direction: column;
}

.listName {
    color: white;
    background-color: #2a18a1;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    margin: 5px 0;
}

#showList {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.wholeListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    margin: 5px;
}